/* Espacio de Root */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root{
    --colorWhite: #FFFFFF;
    --cololrBlueOne: #1C29E5;
    --colorBlueTwo: #296BE5;
    --colorThree: #2DA1CC;
    --colorNav: #ddd;
    /* Colores dark */
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

 body {
    background-color: var(--colorWhite);
    margin: 0px ;
    padding: 0px;
    font-family: 'Nunito';
 }


 h1, p, a, button, label, input{
    color: var(--colorThree);
    text-align: center;
    text-wrap: wrap;
 }
 .heade_index h1{
    font-family: 'Nunito';
    font-size: 6vw;
 }

 p{
    font-family: 'Nunito';
    font-size: 2vw;
 }
 

 img{
    width: 400PX;
    height: 400PX;
    padding: 20px;
    background: linear-gradient(to top #333333 60%, transparent 40%);
 }

/* input */
.email  {
   margin: 10px;
}

#logingForm {

   display: flex;
   flex-direction: column;
   margin: 25px;
}

.button-login{
   margin: 10px;
}



/* Trabajando con el login */

.heade_index {
   margin: 20px;
   padding: 10px;
   text-wrap: wrap;
}

.h1_index{
   margin: 20px;
   padding: 10px;
}
.p_index{
   margin: 20px;
   padding: 10px;
}
.main_index{
   margin: 40px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   max-width: 100%;
   align-items: center;

}



/* Login */
#loginhtml, #loginPage {
   height: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #f0f0f0;
}

.main_login{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.form_login{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0  0 10px rgba(0, 0, 0, 0.1);
}

.form_login input {
   margin-bottom: 10px;
   padding: 10px;
   width: 250px;
   border: 1px solid #ccc;
   border-radius: 5px;
   text-align: left;
}

.form_login input:focus {
   border-color: var(--colorWhite);
   /* box-shadow: 0 0 5px rgba(0, 2, 5, 0.5); */
   outline: none;
}

.form_login a {
 color: var(--colorThree);
}

.form_login a:hover{
   color: var(--colorBlueTwo);
}

.button-login{
   background-color: var(--cololrBlueOne);
   color:var(--colorWhite);
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s ease;
}

.button-login:hover{
   background-color: var(--colorBlueTwo) ;
}

.mostrarcontraseña{
   display: flex;
   flex-direction: column;
   align-items:first baseline;
   margin-bottom: 10px;
}

#mostrarcontraseña{
   max-width:10px ;
}

.mostrarcontraseña label{
   margin-top: 10px;
   color: var(--colorThree);
}

/* index */
#indexPage{
   background-color: #f0f0f0;
}


.heade_index{
   text-align: center;
   color: white;
   margin-bottom: 50px;
   display: flex;
   flex-direction: row;
   display: flex;
   flex-direction: column;
}

.container-header{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

}

.container-items-menu{
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
}

.container-items-menu img{
   width: 400px;
   height: 400px;
   border-radius: 1000px;
   filter: drop-shadow(2px 2px 5px #67c1af);
}

.container-items-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
}


.main_index {
   text-align: center;
}



/* Nav */
a {
   text-decoration: none;
}

.container {
   width: 1170px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.btn-nav {
   margin-right: 20px;
}

.navbar, .navbar > .container {
   width: 100%;
   background-color: var(--colorWhite);
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   color: var(--colorThree);
}

@media (max-width: 768px) {
   .navbar, .navbar > .container {
      display: block;
   }
   img{
      width: 200PX;
      height: 100PX;
      padding: 20px;
   }
   .container-items-menu img{
      width: 200PX;
      height: 200PX;
      padding: 20px;
   }
}

.navbar {
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
   background-color: var(--colorWhite);
   padding: 0.1rem 0.15rem;
   border-bottom: 1px solid #eceef3;
   position: sticky;
   top: 0;
   z-index: 1;

}

.logo-proyecto {
   width: 80px;
   height: 80px;
   margin: 0;
   padding: 0;
}


@media (min-width: 576px) {
   .navbar .container {
     max-width: 540px;
   }
   img{
      width: 150PX;
      height: 150PX;
      padding: 20px;
   }

}
@media (min-width: 768px) {
   .navbar .container {
     max-width: 720px;
   }
}
@media (min-width: 992px) {
   .navbar .container {
     max-width: 960px;
   }
   img{
      width: 150PX;
      height: 150PX;
      padding: 20px;
   }
}
@media (min-width: 1200px) {
   .navbar .container {
     max-width: 1140px;
   }
}

.navbar .navbar-header {
   display: flex;
   align-items: center;
}

@media (max-width: 768px) {
   .navbar .navbar-header {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: row-reverse;
   }
   img{
      width: 150PX;
      height: 150PX;
      padding: 20px;
   }
}

.navbar .navbar-header .navbar-toggler {
   cursor: pointer;
   border: none;
   display: none;
   outline: none;
}

@media (max-width: 768px) {
   .navbar .navbar-header .navbar-toggler {
     display: block;
   }
   .carrusel{
      display: none;
      padding: 0;
      margin: 0;
   }
}

.navbar .navbar-header .navbar-toggler span {
   height: 2px;
   width: 22px;
   background-color: var(--colorThree);
   display: block;
}

.navbar .navbar-header .navbar-toggler span:not(:last-child) {
   margin-bottom: 0.2rem;
}

.navbar .navbar-header > a {
   font-weight: 500;
   color: var(--colorThree);
   padding-right: 30px;
}

.navbar .navbar-menu {
   display: flex;
   align-items: center;
   flex-basis: auto;
   flex-grow: 1;
}

@media (max-width: 768px) {
   .navbar .navbar-menu {
     display: none;
     text-align: center;
   }
}

.navbar .navbar-menu.active {
   display: flex !important;
}

.navbar .navbar-menu .navbar-nav {
   margin-left: auto;
   flex-direction: row;
   display: flex;
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;
}

@media (max-width: 768px) {
   .navbar .navbar-menu .navbar-nav {
     width: 100%;
     display: block;
     border-top: 1px solid #EEE;
     margin-top: 1rem;
   }
}

.navbar .navbar-menu .navbar-nav > li > a, .btn-nav {
   color: var(--colorThree);
   text-decoration: none;
   display: inline-block;
   padding: 0.5rem 1rem;
}

.navbar .navbar-menu .navbar-nav > li > .btn-nav:hover {
   color: var(--colorWhite);
   background-color: var(--colorThree);
   border-radius: 14px;
}
.navbar .navbar-menu .navbar-nav > li > a{
   margin-right: 20px;
}
.navbar .navbar-menu .navbar-nav > li > a:hover{
   color: var(--colorWhite);
   background-color: var(--colorThree);
   border-radius: 14px;
}
@media (max-width: 768px) {
   .navbar .navbar-menu .navbar-nav > li > a {
     border-bottom: 1px solid #eceef3;
   }
}

.navbar .navbar-menu .navbar-nav > li.active a {
   color: var(--colorThree);
}

.list-toggle{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
   list-style: none;
   position: absolute;
   top: 150%;
   left: 0;
   background-color: #fff;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   min-width: 160px;
   width: auto;
   white-space: nowrap;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
   z-index: 99999;
   border-radius: 0.75rem;
   display:
}

@media (max-width: 768px) {
   .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
     position: relative;
     box-shadow: none;
   }
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
   color: var(--colorThree);
   padding: 0.25rem 1rem;
   display: block;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
   display: block !important;
}

.navbar .navbar-dropdown {
   position: relative;
}

.navbar .navbar-header > a span {
   color: var(--colorThree);
}

.navbar .navbar-header h4 {
   font-weight: 500;
   font-size: 1.25rem;
   color: var(--colorThree);
}

@media (max-width: 768px) {
   .navbar .navbar-header h4 {
     font-size: 1.05rem;
   }
}

/* btn */
.button_index {
   background-color: var(--colorBlueOne);
   color: var(--colorWhite);
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 14px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.button_index:hover {
   background-color: var(--colorThree);
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width <= 768px) {
   .button_index {
      background-color: var(--colorWhite);
   }
}

/* Ajustes para botones en el navbar */
.navbar .navbar-nav .btn-nav {
   background-color: var(--cololrBlueOne);
   color: var(--colorWhite);
   border: none;
   border-radius: 14px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.navbar .navbar-nav .btn-nav:hover {
   background-color: var(--colorThree);
   color: var(--colorWhite);
}

@media (max-width: 768px) {
   .navbar .navbar-nav .btn-nav {
      width: 100%;
      padding: 1rem;
      margin: 0.5rem 0;
      font-size: 1.2rem;
   }
}

/* registro */
#resgisterPage {
   height: 100%;
   margin: 0;
   display: flex;
   justify-content: center;
   background-color:#f0f0f0;
}
.header_register {
   margin: 20px;
   padding: 10px;
   text-align: center;
   color: var(--colorThree);
}

.h1_register {
   margin: 25px;
   padding: 15px;
   font-family: 'Nunito';
   font-size: 5vw;
}

.main_register {
   margin: 40px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   max-width: 100%;
   align-items: center;
}

.form_register {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: rgba(255, 255, 255, 0.8);
}

.form_register input {
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 10px;
   width: 250px;
   border: 1px solid #ccc;
   border-radius: 5px;
   text-align: left;
}

.form_register input:focus {
   border-color: var(--colorWhite);
   outline: none;
}

.button-register {
   background-color: var(--cololrBlueOne);
   color: var(--colorWhite);
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s ease;
}

.button-register:hover {
   background-color: var(--colorBlueTwo);
}

/* Carrusel */

.carrusel {
   position: relative;
   width: 80%;
   margin: auto;
   overflow: hidden;
}

.carrusel_contenedor {
   display: flex;
   transition: transform o.5s ease-in-out;
}

.carrusel-item {
   min-width: 100%;
   box-sizing: border-box;
}

.carrusel-item img {
   width: 40vw;
   height: 60vh;
}

button.antes, button.sigue {
   position: absolute;
   top: 50%;
   transform: translate(-80%);
   background-color: var(--colorThree);
   color: white;
   border: none;
   padding: 1.5vw;
   cursor: pointer;
}

button.antes {
   left: 135px;
}

.h3-partidos{
   color: var(--colorThree);
   margin: 20px 0px 20px 0px;
   font-size: 2.3vw;
}
button.sigue {
   right: 0px;
}

/* Voto*/
.btnVoto {
   margin: 5px;
   padding: 15px 30px;
   background-color: var(--cololrBlueOne);
   border-radius: 12px;
   color: var(--colorWhite);
   justify-self: center;
   align-self: center;
   font-size: 1.5rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnVoto:hover{
   background-color:var(--colorBlueTwo);
   color: var(--colorNav);
}
.main_voto{
   display:flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   
  } 

  .form_voto{
   padding: 20px;
   border-radius: 12px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.conten-candidate{
   display: flex;
   gap: 10px;
}

.candidate label > img {
   width: 65px;
   height: 65px;
   border: none;
   box-shadow: none;
}
.candidate {
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.candidate > label{
   padding-top: 10px ;
   display: flex;
   flex-direction:row;
   align-items: center;
   gap: 10px;
   justify-content: start;
   font-size: 1.5rem;
}

.p_vot{
   margin-bottom: 20px;
}

.h1_voto{
   padding-top: 20px;
}


.main_voto > .btn-Votar{
 padding: 50px;
}



.candidate img{
width: 280px;
height: 100px;
height: auto;
border-radius: 10px;
margin-bottom: 8px;
box-shadow: 1px 1px 1px 2px rgba(45, 161, 204, 0.3);
}
/* Estilos para la tabla de resultados */
#resultsTable {
   height: 300px;
   width: 100%;
   border-collapse: collapse;
   margin: 20px 0;
   font-family: Arial, sans-serif;
}

th, td {
   padding: 10px;
   text-align: left;
   border: 1px solid #ddd;
}

th {
   background-color: #f4f4f4;
   font-weight: bold;
}

/* Estilos para las barras de resultados */
.result-bar {
   height: 20px;
   width: 0%; 
   transition: width 0.5s ease; 
   background-color: #ccc;
   border-radius: 10px; 
}

/* Colores personalizados para cada barra */
#baropcionBukele {
   background-color:#df380f; 
}

#baropcionJuanOrlando {
   background-color: red; 
}

#baropcionJavierMiley {
   background-color: #1341cb; 
}

#baropcionSalvadorNasrralla {
   background-color: #2DA1CC; 
}


/* === Footer === */
footer {
   text-align: center;
   padding: 10px;
   background: #f0f0f0;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}

footer > small {
   color: var(--colorThree);
   font-size: medium;
   
}

.containero{

   padding: 30px;
   margin:0 auto;
   display: flex;
   justify-content:right;

}

.container-items{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.img-drop {
   filter: drop-shadow(-1px 2px 5px #67c1af);
   outline: 3px solid #10dad7;
   box-shadow: 0px 0px 3px 3px #000000; 
   border-radius: 100px 100px 7px 100px; 
   width: 90px;
   height: 90px;
}

footer > h4 {
   font-size: medium;
   padding-top: 14px;
   color: var(--colorThree);
}

/* === Tarjetas de contenido === */
.card {
   font-family: 'Nunito';
   margin-top: 80px;
   margin-bottom: 50px;
   width: 35vw;
   padding: 20px;
   border-radius: 12px;
   background-color: #f9f9f9; 
   color: var(--colorThree);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card > ul{
   padding-top: 20px;
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   
}

.card > h5 {
   font-size: 1.5rem;
   color: var(--colorBlueTwo);
}

.card > ul > li {
   padding: 10px;
}

.perfil-container {
   max-width: 500px;
   margin: 50px auto;
   background: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
   text-align: center;
}

.perfil-info p {
   font-size: 18px;
   margin: 10px 0;
}

/* CSS para imprimir */

@media print {
   .navbar, header, button {
       display: none;
   }
   #resultsTable {
       width: 100%;
       border-collapse: collapse;
   }
   #resultsTable th, #resultsTable td {
       border: 1px solid black;
       padding: 8px;
       text-align: left;
   }
   .result-bar {
       -webkit-print-color-adjust: exact; 
       print-color-adjust: exact; 
 
       display: block !important;
       height: 20px;
       width: var(--bar-width); 
   }
   #baropcionBukele {
      background-color:#df380f; 
   }
   
   #baropcionJuanOrlando {
      background-color: red; 
   }
   
   #baropcionJavierMiley {
      background-color: #1341cb; 
   }
   
   #baropcionSalvadorNasrralla {
      background-color: #2DA1CC; 
   }
}