@media (max-width: 768px) {
    .carrusel-item img{
        width: 400px;
        height: 400px;
    };
 }

 @media (max-width: 850px) {
    .carrusel-item img{
        width: 400px;
        height: 400px;
    };
 }

 @media (max-width: 580px) {
    .carrusel-item img{
        width: 400px;
        height: 400px;
    };
 }
 
 @media (max-width: 380x) {

 }